h1 {
    color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar {
    height: 50px;
    background-color: cadetblue;
    text-align: center;
    padding-top: 25px;
    text-decoration: none;
}
.welcome-feature {
    height: 100%;
    width: 100%;
    text-align: center;
}
#card {
    display: inline-block;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
}
.container-card {
   text-align: center; 
}